In [10]:
import pandas as pd


data = [{
    'BuyOrder#': 'C1',
    'BuyBidQty': 100,
    'BuyBidPrice': 32.0,

},
{
    'BuyOrder#': 'A2',
    'BuyBidQty': 800,
    'BuyBidPrice': 31.9
}]

new_trade = pd.DataFrame(data)
new_trade

  BuyOrder#  BuyBidQty  BuyBidPrice
0        C1        100         32.0
1        A2        800         31.9

In [9]:
data = {
    'SellAskPrice': [32.1],
    'SellAskQty': [4000],
    'SellOrder#': ['B1'],
}
new_trade = pd.DataFrame(data)
new_trade

   SellAskPrice  SellAskQty SellOrder#
0          32.1        4000         B1